:root {
  --plyr-color-main: #ef008a;
  --plyr-video-background: #12060d00;
  --plyr-control-radius: 8px;
  --plyr-control-spacing: 8px;
}

.plyr {
  border-radius: 2px;
  overflow: hidden;
}
.plyr--video .plyr__controls {
  padding: 6px 12px 6px 12px !important;
}
.plyr__control--overlaid {
  width: 56px !important;
  height: 56px;
  display: grid !important;
  place-items: center;
  background: #fff !important;
  color: var(--pink) !important;
  border-radius: 4px !important;
  border: 1px solid var(--pink);
}
.plyr__control--overlaid:hover {
  background: var(--pink) !important;
  color: #fff !important;
}
.plyr__menu__container {
  border-radius: 10px !important;
  background: #fff !important;
  color: var(--ink) !important;
  box-shadow: var(--shadow) !important;
}

.plyr__control {
  border-radius: 3px !important;
}

.plyr--full-ui input[type='range']::-webkit-slider-thumb {
  background: transparent !important;
  box-shadow: none !important;
  border: 0 !important;
}

.plyr--full-ui input[type='range']::-moz-range-thumb {
  background: transparent !important;
  box-shadow: none !important;
  border: 0 !important;
}

.plyr--full-ui input[type='range'] {
  color: var(--pink) !important;
}

.plyr span {
  color: var(--pink);
}

.plyr--video .plyr__controls {
  color: var(--pink) !important;
  font-weight: 800;
  font-size: 16px;
}

.plyr__tooltip {
  background: var(--pink) !important;
  color: #fff !important;
  font-weight: 800;
}

.plyr--full-ui input[type='range'] {
  border-radius: 0 !important;
  color: var(--pink) !important;
}

.plyr__control {
  border-radius: 3px !important;
}

.plyr__progress,
.plyr__progress__buffer,
.plyr__progress__played,
.plyr__progress__buffer::-ms-fill,
.plyr--full-ui input[type='range'],
.plyr__progress__buffer::-moz-progress-bar,
.plyr__progress__buffer::-webkit-progress-value,
.plyr--full-ui input[type='range']::-moz-range-track,
.plyr--full-ui input[type='range']::-moz-range-progress,
.plyr--full-ui input[type='range']::-webkit-slider-runnable-track {
  border-radius: 0 !important;
}

.plyr__tooltip:before {
  border-top: 4px solid var(--pink) !important;
  border-top: var(--plyr-tooltip-arrow-size, 4px) solid var(--pink) !important;
}
