:root {
  --plyr-color-main: #ef008a;
  --plyr-video-background: #12060d00;
  --plyr-control-radius: 8px;
  --plyr-control-spacing: 8px;
}
.plyr {
  border-radius: 14px;
  overflow: hidden;
}
.plyr--video .plyr__controls {
  background: rgb(128 13 75 / 51%) !important;
  padding: 12px !important;
}
.plyr__control--overlaid {
  width: 56px !important;
  height: 56px;
  display: grid !important;
  place-items: center;
  background: #fff !important;
  color: var(--pink) !important;
  border-radius: 12px !important;
  box-shadow: 0 18px 34px rgba(0, 0, 0, 0.25);
}
.plyr__control--overlaid:hover {
  background: var(--pink) !important;
  color: #fff !important;
}
.plyr__menu__container {
  border-radius: 10px !important;
  background: #fff !important;
  color: var(--ink) !important;
  box-shadow: var(--shadow) !important;
}
